# Python environments
venv/
env/
.env
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Machine Learning Large Files
data/archive_2/*
data/archive_3/*
data/archive_4/*
data/archive_5/*
!data/archive_2/.gitkeep
!data/archive_3/.gitkeep
!data/archive_4/.gitkeep
!data/archive_5/.gitkeep

# Ignore compressed models (too large for GitHub)
models/*.pkl
models/*.keras
models/*.json
!models/.gitkeep

# Ignore root zip archives
*.zip

# System files
.DS_Store
Thumbs.db
